/* 
    Document   : style
    Created on : 1-mei-2013, 18:10:00
    Author     : Kay
    Description:
        Purpose of the stylesheet follows.
*/

#icon-bandpress {
    background: transparent url( '../../images/screen_icon.png' ) no-repeat;
}

.k-picker-wrap {
    height: 25px;
}

.k-datepicker, .k-timepicker {
    margin-bottom: 3px;
}

.k-input {
    height: 25px !important;
}