/* 
    Document   : upcoming-events-widget
    Created on : Dec 6, 2013, 8:09:48 AM
    Author     : Kay van Bree
    Description:
        Stylesheet for the upcoming events widget
*/

.clearfix {
    clear: both;
}

.upcoming-events {
    display: table;
}

.upcoming-event {
    display: table-row;
}

.upcoming-event:hover {
    background: #cecece;
    text-decoration: none;
}

.upcoming-event-column {
    padding: 5px;
    display: table-cell;
    border-bottom: 1px #22252d dotted;
}

.upcoming-event-title {
    font-weight: bold;
    font-size: 18px;
}

.upcoming-event-datetime {
    background: #22252d;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 14px;
    text-align: center;
    display: block;
}